dist*
static/tmp/
static/combined/
config/client_session_key.aes
*.hi
*.o
*.sqlite3
.hsenv*
cabal-dev/
yesod-devel/
#*#
*~
cabal.sandbox.config
.cabal-sandbox
.stack-work
fay/Fay/
static/fay-runtime.js
static/faygen-*.js