[Unit]
Description=The Ministry of Truth
After=postgresql@11-main.service
Requires=postgresql@11-main.service

[Service]
Type=simple
WorkingDirectory=/opt/minitrue/
User=minitrue
Group=nogroup
Environment="MAILFROMADDRESS=" "MAILLISTIDSUFFIX=" "PGPASS=" "APPROOT="
ExecStart=/opt/minitrue/minitrue
Restart=on-failure
TimeoutSec=30
WatchdogSec=60
NotifyAccess=main

[Install]
WantedBy=multi-user.target
